.c-detailedPricing
  &__section
    margin-bottom: 2.5rem
  &__sectionTitle
    font-weight: 600
    margin-bottom: 1rem
    & > .fa
      +text-gradient(#00c3b5,#1fdea6)
  &__featuresList
    margin: 0 0 1rem
    padding: 0
  &__feature
    min-height: 2.5rem
    line-height: 2.5rem
    padding: 0
    border-bottom: 1px solid rgba(3,169,244,.1)
    &:nth-child(odd)
      background: linear-gradient(90deg,rgba(3,169,244,0),rgba(3,169,244,.05),rgba(3,169,244,0))
  &__featureTitle
    font-weight: 400
  &__featureAvailability
    text-align: center
    & > .fa.fa-check
      +text-gradient(#00c3b5,#1fdea6)
    & > .fa.fa-minus
      color: rgba(0, 153, 255, 0.33)
    & > .fa.fa-clock
      color: rgb(255, 99, 132)
  &__header
    margin-bottom: 2rem
  &__headerOption
    font-size: 1.2rem
    padding: 1rem 0
    text-align: center
    font-weight: 600
    position: relative
    &:after
      content: ''
      position: absolute
      margin: 0 auto
      width: 70%
      display: block
      right: 0
      left: 0
      height: .3rem
      bottom: 0
      border-radius: 3rem
    &--community
      &:after
        +background-gradient(#0ee6a9,#00b0c3)
    &--medium
      &:after
        +background-gradient(#00b0c3,#159bff)
    &--pro
      &:after
        +background-gradient(#159bff,#0070ff)
    &--enterprise
      &:after
        +background-gradient(#0070ff,#0005c2)
    &--extra
      &:after
        +background-gradient(#0070ff,#0005c2)
