.c-faqs
  &__searchInput
    position: absolute
    max-width: 40rem
    width: 90%
    left: 0
    right: 0
    margin: 0 auto
    top: 6.5rem
    font-size: 1.5rem
    padding: 1rem
    border-radius: .3rem
    border: 1px solid rgba(128, 128, 128, 0)
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.29)
    background-color: white
    outline: none