.c-jumbotron
  position: relative
  padding-top: 12rem
  min-height: 80vh
  //min-height: 100vh
  margin-bottom: 0
  padding-bottom: 0
  background: white
  -webkit-border-radius: 0
  -moz-border-radius: 0
  border-radius: 0
  //background: linear-gradient(100deg,rgba(0, 195, 181, 0),rgba(3, 169, 244, 0.12156862745098039))
  //background: linear-gradient(100deg,#038fff,#2196f3)
  //background: linear-gradient(0deg,#038fff,#ffffff)
  background: linear-gradient(40deg,#007bff 40%,#1999ff 60%,#fff)

  &--overflow-hidden
    overflow: hidden