.c-jumbotron
  position: relative
  padding-top: 12rem
  min-height: 55rem
  margin-bottom: 0
  padding-bottom: 0
  -webkit-border-radius: 0
  -moz-border-radius: 0
  border-radius: 0
  background-size: cover
  background-repeat: no-repeat
  background-position: center

  @media(max-width: 768px)
    min-height: 42rem

  &--overflow-hidden
    overflow: hidden