.c-navbar
  height: 3.6rem
  z-index: 9999
  //background: rgba(255, 255, 255, 0.10)
  //box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.05)
  //background: linear-gradient(40deg,#e8f3ff,#fff)
  //box-shadow: 0 0 11px 1px rgba(0,0,0,.05)
  background: transparent

  .home-page &
    .c-navbar__collapse .c-navbar__nav:first-child .c-navbar__navItem a
      color: white
    img
      -webkit-filter: grayscale(100%) brightness(100)
      filter: grayscale(100%) brightness(100)

  &--scroll
    background: white
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.12)
    .home-page &
      .c-navbar__collapse .c-navbar__nav:first-child .c-navbar__navItem a
        color: #212629
      img
        -webkit-filter: initial
        filter: initial

  &__navItem
    &--active
      font-weight: 600
    & a
      color: #212629
      &:hover
        font-weight: 600

  @media(max-width: 769px)
    &__collapse
      text-align: center
      background: white
      padding: 1rem
      margin-top: 1rem
      border-radius: .3rem
      box-shadow: 0 2px 20px 1px rgba(0, 0, 0, 0.36)

    &__navItem
      & > a
        width: 100%