<footer class="site-footer h-card">
    <div class="wrapper">

        <h2 class="footer-heading">Apisearch Blog</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li><a class="u-email" href="mailto:info@apisearch.io">info@apisearch.io</a></li></ul>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <li><a href="https://github.com/apisearch-io">apisearch-io en Github</a></li>
                    <li><a href="https://x.com/apisearchio">apisearchio en X</a></li></ul>
            </div>

            <div class="footer-col footer-col-3">
                <p>Blog dedicado al mundo del ecommerce y los buscadores para tiendas online.</p>
            </div>
        </div>

    </div>

</footer>
