<div id="top">
    <section id="main-nav-section" class="bg-cover 2xl:bg-contain bg-top bg-no-repeat">
        <nav id="main-nav" class="container px-4 mx-auto flex justify-between items-center py-6"><a class="text-3xl font-semibold leading-none" href="https://apisearch.io">
                <img class="logo-white" src="https://apisearch.io/assets/images/logo-apisearch-new.webp" alt="Logo de Apisearch" width="200">
            </a>
            <a class="button" href="https://www.apisearch.cloud/es/signup?referrer=as-b51809ee-a72d-4cc1" target="_blank">Pruébalo gratis 60 días</a>
        </nav>
    </section>
</div>
