
<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Begin Jekyll SEO tag v2.7.1 -->
    <title>Apisearch Blog | Blog dedicado al mundo del ecommerce y los buscadores para tiendas online.</title>
    <meta property="og:title" content="Apisearch Blog" />
    <meta property="og:locale" content="es_ES" />
    <meta name="description" content="Blog dedicado al mundo del ecommerce y los buscadores para tiendas online." />
    <meta property="og:description" content="Blog dedicado al mundo del ecommerce y los buscadores para tiendas online." />
    <link rel="canonical" href="https://apisearch.io/blog/" />
    <meta property="og:url" content="https://apisearch.io/blog/" />
    <meta property="og:site_name" content="Apisearch Blog" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="Apisearch Blog" />
    <script type="application/ld+json">
        {"headline":"Apisearch Blog","@type":"WebSite","description":"Blog dedicado al mundo del ecommerce y los buscadores para tiendas online.","url":"https://apisearch.io/blog/","name":"Apisearch Blog","@context":"https://schema.org"}</script>
    <!-- End Jekyll SEO tag -->
    <link rel="stylesheet" href="../assets/css/blog.css"><link type="application/atom+xml" rel="alternate" href="https://apisearch.io/blog/feed.xml" title="Apisearch Blog" /></head>
<body>
{% include "header.twig" %}
<main class="page-content" aria-label="Content">
    <div class="wrapper">
        {% block content %}{% endblock content %}
    </div>
</main>
{% include "footer.twig" %}
</body>

</html>
