<li>
    <span class="post-meta">{{ post.date|format_datetime(pattern='d MMMM, Y', locale='es') }}</span>

    <h3>
        <a class="post-link" href="{{ post.url }}">
            {{ post.title }}
        </a>
    </h3>
</li>
