

<section class="relative pt-20 as-background-black overflow-hidden">
    <div class="container px-4 mx-auto" style="display: flex; flex-direction: row">
        <div style="flex: 1">
            <div class="flex flex-wrap -m-6 mb-12">
                <div class="w-full p-6">
                    <h2 class="max-w-xl text-6xl sm:text-7xl text-white font-100">Empieza ya!</h2>
                    <p class="mb-16 as-light text-base as-secondary-color text-2xl sm:text-3xl ">No se necesita saber programar para instalar Apisearch.</p>
                    <div class="flex flex-wrap -m-6">
                        <div class="w-full p-6">
                            <div class="mb-11 lg:max-w-sm">
                                <div class="flex flex-wrap -m-4">
                                    <div class="w-auto p-4">
                                        <div class="p-px max-w-max as-button-secondary-color rounded-full">
                                            <div class="flex justify-center items-center text-xl bg-gray-900 w-12 h-12 as-button-secondary-color  rounded-full">1</div>
                                        </div>
                                    </div>
                                    <div class="flex-1 p-4">
                                        <h3 class="mb-4 font-medium text-xl text-white">Crea tu cuenta</h3>
                                        <p class="as-light">Empezar en Apisearch nunca fue tan fácil y tan rápido. En tan solo 5 minutos tendrás tu cuenta creada.</p>
                                        <p class="as-gray">No se requiere tarjeta de crédito</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-11 lg:max-w-sm">
                                <div class="flex flex-wrap -m-4">
                                    <div class="w-auto p-4">
                                        <div class="p-px max-w-max as-button-secondary-color rounded-full">
                                            <div class="flex justify-center items-center text-xl bg-gray-900 w-12 h-12 as-button-secondary-color  rounded-full">2</div>
                                        </div>
                                    </div>
                                    <div class="flex-1 p-4">
                                        <h3 class="mb-4 font-medium text-xl text-white">Indícanos la URL de tu feed</h3>
                                        <p class="as-light">En cuanto tengamos la url de tu feed, Apisearch empezará a guardar tus productos automáticamente. Y si tienes campos propios, solo tienes que especificarlos en nuestra plataforma.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-11 lg:max-w-sm">
                                <div class="flex flex-wrap -m-4">
                                    <div class="w-auto p-4">
                                        <div class="p-px max-w-max as-button-secondary-color rounded-full">
                                            <div class="flex justify-center items-center text-xl bg-gray-900 w-12 h-12 as-button-secondary-color  rounded-full">3</div>
                                        </div>
                                    </div>
                                    <div class="flex-1 p-4">
                                        <h3 class="mb-4 font-medium text-xl text-white">Activa el buscador</h3>
                                        <p class="as-light">Una vez tengas el buscador a tu gusto, te mandaremos un código HTML para tu tienda. Ahora solo quedará disfrutar viendo tu negocio crecer</p>
                                    </div>
                                </div>
                            </div>

                            <button class="p-1 font-semibold text-xs text-gray-900 uppercase tracking-px overflow-hidden rounded-md" style="margin-left: 77px; margin-top: 20px;">
                                <a class="to-cloud block sm:inline-block py-4 px-8 mb-4 sm:mb-0 sm:mr-3 text-lg text-white text-center font-semibold leading-none as-button-secondary-color rounded" href="{{ config.demo_form_url }}" target="_blank">
                                    {{ t.menu.ask_a_demo }}
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden lg:block" style="flex: 1">
            <div class="max-w-max ml-auto">
                <div style="margin: 150px 100px 0 0;">
                    <img class="with-shinny-shadow" src="{{ assets_path }}/images/previews/bassols-mobile.webp" alt="Representación del buscador de Apisearch en móbil" loading="lazy" />
                </div>
            </div>
        </div>
    </div>
</section>
