{% verbatim %}
<script type="text/template" id="main-result-search-tpl">
    <div class="flex flex-wrap">
        {{#items}}
        <div class="hover:bg-light-green-500 hover:border-transparent hover:shadow-lg group block rounded-lg p-1 border border-gray-200 mr-4 mb-4">
            <img width="80" height="80" class="border-1 border-white"
                 src="https://raw.githubusercontent.com/apisearch-io/funko-database/master/img/{{metadata.image}}"
                 title="{{metadata.title}}"
            />
        </div>
        {{/items}}
    </div>
    {{^items}}
    <div class="notification">
        Oops! We didn't find any results for <b>{{query}}</b> 🙉
    </div>
    {{/items}}
</script>
{% endverbatim %}

{% verbatim %}
<script type="text/template" id="main-information-container-template">
    <span class="tag is-primary">
          <i class="fa fa-bolt"></i> &nbsp; Found {{total_hits}}!
      </span>
</script>
{% endverbatim %}

<script type="text/javascript">
    // UI Instance
    const mainUI = uiFactory.createUI();

    // Widgets setup
    mainUI.addWidgets(
        mainUI.widgets.searchInput({
            target: '#search-main-input',
            placeholder: 'Search your superhero!',
            autofocus: true,
            autocomplete: false,
            searchableFields: [
                "searchable_metadata.title^3",
                "searchable_metadata.color^2",
                "searchable_metadata.collection^2",
            ],
            classNames: {
                input: "border-green-400 ring-1 ring-green-400 outline-none w-full text-sm text-black placeholder-gray-500 border border-gray-200 rounded py-2 pl-10"
            }
        }),
        mainUI.widgets.result({
            target: '#search-main-results',
            itemsPerPage: 6,
            template: {
                itemsList: document.getElementById('main-result-search-tpl').text,
            }
        })
    );

    // Init the magic!
    mainUI.init({firstQuery: true});
</script>
