#empathy-banner {
  position: fixed;
  top: 40px;
  right: 0;
  border-radius: 47px 47px 0 0;
  padding: 45px 47px;


  .text {

  }

  .dots {
    .dot {

      &.primary {

      }
    }
  }

  .discover-more {

  }

  .empathy-holdings {

  }
}
