<section class="pt-24 pb-32 bg-gradient-gray2 overflow-hidden">
    <div class="container mx-auto px-4">
        <div class="text-center mb-16">
            <h3 class="text-6xl sm:text-7xl font-100">
                ¿Tienes preguntas?
            </h3>
            <p class="max-w-xl mx-auto text-lg">Si tienes cualquier duda, siempre puedes contactar con nosotros, pero por aquí te dejamos algunas de nuestras preguntas más frecuentes</p>
        </div>
        <div class="flex flex-wrap -m-6 mb-24">
            <div class="w-full  md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h4 class="mb-4 text-2xl font-thin">¿Necesito instalar algún plugin para Shopify?</h4>
                    <p class="as-black">
                        Ahora mismo no necesitas instalar nada. Utilizamos la API pública de Shopify para descargar tu catálogo. Estamos desarrollando el nuevo plugin para configuraciones más complejas
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h4 class="mb-4 text-2xl font-thin">¿Podré añadir filtros a mi buscador?</h4>
                    <p class="as-black">
                        Si. Nuestra integración con tu tienda de Shopify nos mandará todos los valores de tus productos, y desde nuestro panel de administración podrás crear los filtros que necesites. Y sin saber programar.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h4 class="mb-4 text-2xl font-thin">¿Podrán mis usuarios buscar por sinónimos?</h4>
                    <p class="as-black">
                        Si. En nuestro panel de administración podrás configurar los sinónimos de una forma muy sencilla. Podrás descargar un listado, completarlo con nuevos sinónimos, y volver a subirlo de una forma rápida y cómoda.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h4 class="mb-4 text-2xl font-thin">¿Podré saber qué buscan mis usuarios?</h4>
                    <p class="as-black">
                        Si. En nuestro panel de control podrás ver el rendimiento del buscador, incluyendo qué buscan, nuevas oportunidades de venta y hasta el porcentage de conversión.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h4 class="mb-4 text-2xl font-thin">¿Podré probar el buscador antes de pagar?</h4>
                    <p class="as-black">
                        Por supuesto. Nuestro mayor interés que el buscador pueda ayudarte a vender más. Pruébalo durante 60 días, y decide si continuar trás ver los resultados en tu tienda online.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h4 class="mb-4 text-2xl font-thin">¿Tendré ayuda para configurarlo?</h4>
                    <p class="as-black">
                        Si. En Apisearch estamos desarrollando toda una base de conocimiento integrada con IA para que no estés solo en ningún caso. Y si finalmente no puedes solucionar tus dudas, siempre tendrás una persona detrás dando soporte.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
