<section class="pt-28 pb-32 as-background-black overflow-hidden">
    <div class="container mx-auto px-4">
        <p class="mb-16 mt-16 text-center text-6xl sm:text-7xl font-100 white">Confían en nosotros</p>
        <div class="flex flex-wrap justify-center items-center -m-10 pb-10 border-b border-gray-800">
            {% for element in t.clients.elements %}
            <div class="w-auto p-10">
                <img src="{{ assets_path }}/images/clients/{{ element.img }}" alt="" style="height: 50px;">
            </div>
            {% endfor %}
        </div>
        <div class="mt-24 max-w-2xl mx-auto text-center">
            <div class="flex items-center justify-center -m-1 mb-10">
                <img class="p-1" src="assets/images/star.svg" alt="">
                <img class="p-1" src="assets/images/star.svg" alt="">
                <img class="p-1" src="assets/images/star.svg" alt="">
                <img class="p-1" src="assets/images/star.svg" alt="">
                <img class="p-1" src="assets/images/star.svg" alt="">
            </div>
            <p class="mb-5 text-xl text-gray-300">“100% Satisfecha. El buscador funciona muy bien, mejoran día a día las funcionalidades. Resuelven tus dudas muy rápido. El nivel de implicación con el cliente es alto”</p>
            <p class="text-xl text-white">África Martínez, Belletica</p>
        </div>
    </div>
</section>
