<section class="pt-24 pb-32 bg-gradient-gray2 overflow-hidden">
    <div class="container mx-auto px-4">
        <div class="text-center mb-16">
            <h2 class="text-6xl sm:text-7xl font-100">
                ¿Tienes preguntas?
            </h2>
            <p class="max-w-xl mx-auto text-lg">Si tienes cualquier duda, siempre puedes contactar con nosotros, pero por aquí te dejamos algunas de nuestras preguntas más frecuentes</p>
        </div>
        <div class="flex flex-wrap -m-6 mb-24">
            <div class="w-full  md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h2 class="mb-4 text-2xl font-thin">¿Porqué Apisearch?</h2>
                    <p class="as-black">
                        Somos una empresa dedicada exclusivamente a un elemento tan importante como el buscador. Centramos nuestros esfuerzos en el desarrollo del producto, en una atención al cliente personalizada y en un crecimiento orgánico. Esto nos permite tener buenos precios y la mejor de las calidades.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h2 class="mb-4 text-2xl font-thin">¿Puedo añadir filtros con Apisearch?</h2>
                    <p class="as-black">
                        Si. Podrás configurar tantos filtros como desees en nuestro panel de administración, siempre que tengamos los valores en el feed.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h2 class="mb-4 text-2xl font-thin">¿Puedo saber qué buscan mis clientes?</h2>
                    <p class="as-black">
                        Si. En nuestro panel de administración encontrarás todos los datos relacionados con las búsquedas que hacen tus clientes, así como aquellas búsquedas que no ofrecen resultados y puedes convertir en oportunidades.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h2 class="mb-4 text-2xl font-thin">¿Cómo y cuándo se cobra el servicio?</h2>
                    <p class="as-black">
                        En Apisearch cobramos a mes pasado. Cada inicio de mes, recopilamos todos los datos de uso de nuestra plataforma y aplicamos el precio por petición o el precio acordado. Automáticamente mandaremos la factura al email configurado en la cuenta y procederemos al pago
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h2 class="mb-4 text-2xl font-thin">¿En algún momento cortáis servicio?</h2>
                    <p class="as-black">
                        Nunca cortamos servicio. Tenemos definidas unas métricas internas para que, antes de tomar cualquier decisión de esta magnitud, tomemos la iniciativa de ponernos en contacto con vosotros.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h2 class="mb-4 text-2xl font-thin">¿Cómo puedo pagar?</h2>
                    <p class="as-black">
                        Nos integramos tanto con tarjetas de débito como con SEPA. Dentro de nuestra aplicación tendrá un apartado donde, de forma completamente segura, podrá introducir sus datos de pago. En un futuro esperamos añadir otras formas de pago.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h2 class="mb-4 text-2xl font-thin">¿Podemos tener un diseño a medida?</h2>
                    <p class="as-black">
                        Si. Por defecto nosotros publicamos una selección de diseños predefinidos con el que podrá cambiar colores, fuente y disposición. Si se requiere una integración más precisa y costomizada, no dude en ponerse en contacto con nosotros y le haremos presupuesto.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h2 class="mb-4 text-2xl font-thin">¿Ofrecéis planes anuales?</h2>
                    <p class="as-black">
                        Si. Nuestra plataforma nos permite hacer cualquier tipo de plan a medida para su empresa, desde planes anuales hasta mensuales fijos. Contacte con nosotros para poder analizar mejor sus necesidades y poder ofrecerle las mejores condiciones.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h2 class="mb-4 text-2xl font-thin">¿En qué idioma está el buscador?</h2>
                    <p class="as-black">
                        Tenemos el buscador en más de diez idiomas. Aprovechamos las necesidades de nuestros clientes para añadir más, por lo que si necesitas uno en especial, no dudes en preguntarnos y en cuestión de horas tendremos el buscador traducido sin problemas.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h2 class="mb-4 text-2xl font-thin">¿Puedo utilizar Apisearch en un multisite?</h2>
                    <p class="as-black">
                        Una de las grandes ventajas de Apisearch como producto es la capacidad de integrarse con grandes e-commerce que están vendiendo en docenas de países y de idiomas con un solo índice y feed de datos. Ofrecemos integraciones a medida para estos proyectos. Contacte con nosotros para más información.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
