<section class="pt-16 pb-20" id="features">
    <div class="container px-4 mx-auto">
        <div class="text-center mb-16">
            <h2 class="text-6xl sm:text-7xl font-100">
                Funcionalidades
            </h2>
            <p class="max-w-xl mx-auto text-lg">{{ t.all_in_one.description|raw }}</p>
        </div>
        <div class="flex flex-wrap -mx-3 -mb-6">
            <div class="flex flex-row w-full mx-3 mb-6 with-soft-shadow">
                <div class="flex-1 flex-col pt-8 px-6 pb-6 bg-white text-center rounded md:w-1/2 lg:w-1/3">
                    <i class="w-10 h-10 fa-solid fa-pen-to-square as-primary-color" style="font-size: 26px;"></i>
                    <h3 class="mb-2 font-thin" style="font-size: 25px">Personalización</h3>
                    <p class="text-sm as-gray">
                        La mayoría de buscadores se ven iguales, neutros, lo que hace demasiado evidente que el buscador no está plenamente integrado con el e-commerce.
                        Con Apisearch puedes editar todo el buscador con plantillas y manipular con estilos propios los elementos que quieres mostrar.
                    </p>
                </div>
                <div class="md:w-1/2 lg:w-2/3">
                    <div class="horizontal-display">
                        <img class="with-shinny-shadow" style="left:40px" src="assets/images/previews/carethy-mobile.jpeg" />
                        <img class="with-shinny-shadow" style="left:200px" src="assets/images/previews/siroko-mobile.jpeg" />
                        <img class="with-shinny-shadow" style="left:360px" src="assets/images/previews/bassols-mobile.jpeg" />
                        <img class="with-shinny-shadow" style="left:520px" src="assets/images/previews/corbetos-mobile.jpeg" />
                    </div>
                </div>
            </div>

            <div class="flex flex-col w-full md:w-1/2 lg:w-1/3 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded with-soft-shadow">
                    <i class="w-10 h-10 fa-solid fa-mobile-screen-button as-primary-color" style="font-size: 26px;"></i>
                    <h3 class="mb-2 font-thin" style="font-size: 25px">Multi dispositivo</h3>
                    <p class="text-sm as-gray">
                        Apisearch funciona de la misma forma en todos los dispositivos, inclusive con poca cobertura, y siempre de una forma eficiente y eficaz.
                        No tendrás que configurar nada, pues tus usuarios podrán disfrutar de la misma experiencia de usuario tanto en PC, tableta o móvil.
                    </p>
                </div>
            </div>

            <div class="flex flex-col w-full md:w-1/2 lg:w-1/3 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded with-soft-shadow">
                    <i class="w-10 h-10 fa-solid fa-ruler as-primary-color" style="font-size: 26px;"></i>
                    <h3 class="mb-2 font-thin" style="font-size: 25px">Reglas de negocio</h3>
                    <p class="text-sm as-gray">Da prioridad a aquellos productos a los que quieras dar más importancia según las palabras con las que buscan tus usuarios.
                        Con nuestro editor de reglas puedes ordenar al detalle los productos que quieres mostrar o promocionar ciertas marcas y categorías.</p>
                </div>
            </div>

            <div class="flex flex-col w-full md:w-1/2 lg:w-1/3 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded with-soft-shadow">
                    <i class="w-10 h-10 fa-solid fa-filter-circle-dollar as-primary-color" style="font-size: 26px;"></i>
                    <h3 class="mb-2 font-thin" style="font-size: 25px">Funnel de ventas</h3>
                    <p class="text-sm as-gray">La manera mas sencilla de visualizar las ventas que está generando el buscador.
                        Puedes ver por fecha y por tipo de dispositivo los usuarios únicos que han entrado en la web, que han usado el buscador, que han generado un evento, y que han terminado comprando.</p>
                </div>
            </div>

            <div class="flex flex-row w-full mx-3 mb-6 with-soft-shadow">
                <div class="flex flex-col flex-1 pt-8 px-6 pb-6 bg-white text-center rounded" style="align-items: center">
                    <i class="w-10 h-10 fa-solid fa-plug-circle-bolt as-primary-color" style="font-size: 26px;"></i>
                    <h3 class="mb-2 font-thin" style="font-size: 25px">Integración en 5 minutos</h3>
                    <p class="text-sm as-gray">Instala Apisearch <b class="as-secondary-color">sin saber programar</b> en tan solo 5 minutos. Te guiamos paso a paso para que tengas el buscador como a ti te guste.</p>
                </div>
                <div class="md:w-1/2 lg:w-2/3 flex flex-row justify-space-around flex-wrap" style="align-items: center; justify-content: space-around">
                    <img class="with-shinny-shadow" style="width: auto; height: 100px;" src="assets/images/integrations/prestashop.png" />
                    <img class="with-shinny-shadow" style="width: auto; height: 100px;" src="assets/images/integrations/woocommerce.png" />
                    <img class="with-shinny-shadow" style="width: auto; height: 100px;" src="assets/images/integrations/shopify.png" />
                </div>
            </div>

            <div class="flex flex-col w-full md:w-1/2 lg:w-1/3 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded with-soft-shadow">
                    <h3 class="mb-2 font-thin" style="font-size: 25px">Corrección de fallos</h3>
                    <p class="text-sm as-gray">Incluso si tus usuarios escriben mal las palabras más complicadas, devolveremos los resultados correctos</p>
                </div>
            </div>

            <div class="flex flex-col w-full md:w-1/2 lg:w-1/3 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded with-soft-shadow">
                    <h3 class="mb-2 font-thin" style="font-size: 25px">Orden por ventas</h3>
                    <p class="text-sm as-gray">El buscador promocionará los productos con más tracción y mejores ventas.</p>
                </div>
            </div>

            <div class="flex flex-col w-full md:w-1/2 lg:w-1/3 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded with-soft-shadow">
                    <h3 class="mb-2 font-thin" style="font-size: 25px">Búsqueda por voz</h3>
                    <p class="text-sm as-gray">Tus usuarios desde dispositivos móbiles podrán buscar mediante voz desde la misma capa de búsqueda</p>
                </div>
            </div>
        </div>
    </div>
</section>

