<section class="relative py-40 overflow-hidden">
    <div class="container mx-auto px-4 text-center">
        <div class="flex flex-wrap items-center -m-6 lg:-m-11">
            <div class="w-full p-6 lg:p-11">
                <h2 class="mb-5 text-6xl sm:text-7xl font-100">Nuestras integraciones</h2>
                <p class="mb-9 text-gray-600">Utiliza uno de nuestros plugins para instalar Apisearch de una forma rápida y sencilla.</p>
            </div>
            <div class="w-full p-6 lg:p-11" style="display: flex; flex-direction: row; justify-content: center">
                <div class="w-auto p-2 mr-3">
                    <img src="assets/images/integrations/prestashop.png" style="height: 50px; width: auto;"/>
                </div>
                <div class="w-auto p-2 mr-3">
                    <img src="assets/images/integrations/woocommerce.png" style="height: 50px; width: auto;"/>
                </div>
                <div class="w-auto p-2 mr-3">
                    <img src="assets/images/integrations/shopify.png" style="height: 50px; width: auto;"/>
                </div>
                <div class="w-auto p-2">
                    <img src="assets/images/integrations/google-shopping.png" style="height: 50px; width: auto;"/>
                </div>
            </div>
        </div>
    </div>
</section>
