<section id="integrations" class="relative py-32 bg-black overflow-hidden">
    <div class="container mx-auto px-4">
        <div class="text-center mb-16">
            <h2 class="text-5xl md:text-6xl font-100 as-light">Integraciones</h2>
            <p class="max-w-xl mx-auto text-lg as-light">En tan solo 3 minutos, podrás tener Apisearch funcionando en tu tienda online gracias a nuestras integraciones.</p>
        </div>
        <div class="flex flex-wrap -m-4" style="align-items: center; justify-content: space-around;">
            <img class="mb-12" src="assets/images/integrations/prestashop.png" alt="Plugin de prestashop" style="width: 200px; height: auto; filter: brightness(0) invert(1)">
            <img class="mb-12" src="assets/images/integrations/shopify-transparent.png" alt="Integración con Shopify" style="width: 200px; height: auto; filter: brightness(0) invert(1)">
            <img class="mb-12" src="assets/images/integrations/google-shopping.png" alt="Integración con Google Shopping" style="width: 200px; height: auto; filter: brightness(0) invert(1)">
        </div>
    </div>
</section>
