<section class="py-32 bg-gradient-gray2 overflow-hidden">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap -m-6">
            <div class="w-full md:w-1/2 p-6">
                <div class="h-full md:max-w-lg">
                    <div class="flex flex-wrap h-full -m-6">
                        <div class="w-full p-6">
                            <h2 class="mb-6 text-6xl sm:text-7xl font-100">Esto opinan nuestros clientes</h2>
                        </div>
                        <div class="w-full self-end p-6">
                            <a class="group inline-block font-heading font-medium text-gray-900 hover:text-gray-800 text-base overflow-hidden" href="#">
                                <!-- TrustBox widget - Micro Review Count -->
                                <div class="trustpilot-widget mt-3" data-locale="es-ES" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="631f1da65cd25aa13a819181" data-style-height="24px" data-style-width="100%" data-min-review-count="0" data-style-alignment="center">
                                    <a href="https://es.trustpilot.com/review/apisearch.io" target="_blank" rel="noopener">Trustpilot</a>
                                </div>
                                <!-- End TrustBox widget -->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2 p-6">
                <div class="flex flex-wrap justify-center md:max-w-lg md:mx-auto divide-y divide-gray-200">
                    <div class="w-full lg:w-auto">
                        <div class="pb-7">
                            <p class="mb-6 text-black text-base">
                                “Un servicio super competente!
                                Apisearch nos ha sorprendido para bien, teniendo las mismas funcionalidades que otra herramienta del mismo sector y a la mitad de precio.
                                Muy atentos con las necesidades y en constante mejora.
                                Un año ya con ellos y ecantados.
                                Muy recomendable.”</p>
                            <div class="stars"><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div></div>
                            <div class="flex flex-wrap -m-1.5">
                                <div class="w-auto p-1.5">
                                    <h3 class="font-heading text-gray-900 font-semibold text-lg">Carlos</h3>
                                    <p class="text-sm text-gray-600">Marketing en Pampling</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full lg:w-auto mt-4 pt-4">
                        <div class="py-7">
                            <p class="mb-6 text-black text-base">“A día de hoy, es el buscador que mejor nos ha funcionado en nuestra tienda online Hola Princesa.
                                Además, el servicio al cliente es de 10, te ayudan a resolver todas tus incidencias y escuchan tus propuestas para ponértelas en marcha lo más rápido posible.”</p>
                            <div class="stars"><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div></div>
                            <div class="flex flex-wrap -m-1.5">
                                <div class="w-auto p-1.5">
                                    <h3 class="font-heading text-gray-900 font-semibold text-lg">Ulises</h3>
                                    <p class="text-sm text-gray-600">CEO en Holaprincesa</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full lg:w-auto mt-4 pt-4">
                        <div class="py-7">
                            <p class="mb-6 text-black text-base">“Optimización, Rapidez y Eficiencia
                                Tanto como usuaria como profesional del sector, Apisearch es una herramienta óptima y rápida en el mercado de buscadores.
                                La personalización o IA que ofrece en las búsquedas hace que la experiencia de compra en un ecommerce mejore sustancialmente.
                                Todo esto, y con un equipo detrás tan implicado, humano y eficiente es difícil no recomendarlo!”</p>
                            <div class="stars"><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div></div>
                            <div class="flex flex-wrap -m-1.5">
                                <div class="w-auto p-1.5">
                                    <h3 class="font-heading text-gray-900 font-semibold text-lg">Manuel Perez</h3>
                                    <p class="text-sm text-gray-600">CEO en Buscorepuestos</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
