/**
 * Mixins
 */
@mixin background-gradient($start, $end)
  background-image: -webkit-linear-gradient(left, $start, $end)
  background-image:    -moz-linear-gradient(left, $start, $end)
  background-image:     -ms-linear-gradient(left, $start, $end)
  background-image:      -o-linear-gradient(left, $start, $end)
  background-image:         linear-gradient(to right, $start, $end)

@mixin border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

@mixin text-gradient($start, $end)
  background-image: -webkit-linear-gradient(left, $start, $end)
  background-image:    -moz-linear-gradient(left, $start, $end)
  background-image:     -ms-linear-gradient(left, $start, $end)
  background-image:      -o-linear-gradient(left, $start, $end)
  background-image:         linear-gradient(to right, $start, $end)
  color: transparent
  -webkit-background-clip: text
  background-clip: text

@mixin scrollbar($color)
  &::-webkit-scrollbar
    width: 14px
    height: 18px
  &::-webkit-scrollbar-track
    background: transparent
    -webkit-border-radius: 5rem
  &::-webkit-scrollbar-thumb
    height: 6px
    border: 4px solid rgba(0, 0, 0, 0)
    background-clip: padding-box
    background-color: $color
    outline: 1px solid slategrey
    -webkit-border-radius: 10px
  &::-webkit-scrollbar-button
    width: 0
    height: 0
    display: none
  &::-webkit-scrollbar-corner
    background-color: transparent

@mixin floating-animation($speed)
  -webkit-animation-name: floating
  -webkit-animation-duration: $speed
  -webkit-animation-iteration-count: infinite
  -webkit-animation-timing-function: ease-in-out
  -moz-animation-name: floating
  -moz-animation-duration: $speed
  -moz-animation-iteration-count: infinite
  -moz-animation-timing-function: ease-in-out
  animation-name: floating
  animation-duration: $speed
  animation-iteration-count: infinite
  animation-timing-function: ease-in-out