@import "~bootstrap/scss/bootstrap"
@import "~highlight.js/styles/atom-one-light.css"

@import "mixins"

// fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand')

// components
@import "components/navbar"
@import "components/jumbotron"
@import "components/homedemo"
@import "components/features"
@import "components/code"
@import "components/footer"

// objects
@import "objects/section"
@import "objects/card"
@import "objects/button"
@import "objects/title"

// Apisearch
@import "apisearch/integrationDemo"

// objects
@import "helpers/background"

/**
 * Custom reset
 */
body
  font-family: 'Quicksand', sans-serif
  color: #111
  letter-spacing: .7px