<section class="py-20">
    <div class="container px-4 mx-auto">
        <div class="text-center mb-16">
            <h2 class="max-w-lg mx-auto mb-4 text-4xl font-bold font-heading">
                <span>Calcula quant pagaràs</span>
            </h2>
            <p class="max-w-sm mx-auto text-lg text-blueGray-400">Pagues pel que uses. Sense ensurts.</p>
        </div>


        <div class="bg-white border rounded shadow">
            <div class="border-b bg-blueGray-50">
                <div class="flex flex-wrap p-6 -mx-3">
                    <input
                        id="price-calculator"
                        type="range"
                        min="0"
                        max="10"
                        step="1"
                    ></div>
                </div>
            </div>
        </div>

        <div class="text-center mb-16">
            <p><div id="price-calculator-requests"></div> Requests</p>
            <p><div id="price-calculator-price"></div>€</p>
        </div>
    </div>
</section>


<style>
    #price-calculator {
        width: 100%;
        position: relative;
    }
</style>
