<section class="py-20 bg-blueGray-50">
    <div class="container px-4 mx-auto">
        <div class="max-w-2xl mx-auto text-center">
            <div class="max-w-md mb-8 mx-auto">
                <h2 class="mt-2 text-4xl font-bold font-heading">We will be glad to hear from you!</h2>
            </div>
            <div>
                <form action="https://mmoreram.us3.list-manage.com/subscribe/post?u=c11fd3061a6f0d72f6464d2f4&amp;id=34387f30c7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate text-left" target="_blank" novalidate>

                    <div class="mb-4">
                        <input class="text-grey-600 w-full p-4 text-xs font-semibold leading-none bg-white rounded outline-none" type="text" placeholder="Name" name="FNAME">
                    </div>
                    <div class="mb-4">
                        <input class="w-full p-4 text-xs font-semibold leading-none bg-white rounded outline-none" type="email" placeholder="name@example.com" name="EMAIL">
                    </div>
                    <div class="mb-4"><textarea class="w-full h-24 p-4 text-xs font-semibold leading-none resize-none bg-white rounded outline-none" type="text" placeholder="Message..." name="MESSAGE"></textarea></div>
                    <div class="flex justify-left text-left text-xs text-gray-400">
                        <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
                            <div class="content__gdpr">
                                <label>Marketing Permissions</label>
                                <p>Please select all the ways you would like to hear from :</p>
                                <fieldset class="mc_fieldset gdprRequired mc-field-group mt-3 mb-3" name="interestgroup_field">
                                    <label class="checkbox subfield" for="gdpr_43253"><input type="checkbox" id="gdpr_43253" name="gdpr[43253]" value="Y" class="av-checkbox mr-2"><span>Email</span></label><br>
                                    <label class="checkbox subfield" for="gdpr_43257"><input type="checkbox" id="gdpr_43257" name="gdpr[43257]" value="Y" class="av-checkbox mr-2"><span>Direct Mail</span> </label><br>
                                    <label class="checkbox subfield" for="gdpr_43261"><input type="checkbox" id="gdpr_43261" name="gdpr[43261]" value="Y" class="av-checkbox mr-2"><span>Customized Online Advertising</span> </label>
                                </fieldset>
                                <p>You can unsubscribe at any time by clicking the link in the footer of our emails. For information about our privacy practices, please visit our website.</p>
                            </div>
                            <div class="content__gdprLegal">
                                <p>We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
                            </div>
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c11fd3061a6f0d72f6464d2f4_34387f30c7" tabindex="-1" value=""></div>
                    </div>
                    <button class="m-6 py-4 px-8 text-sm text-white font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
