<section id="main-nav-section" class="bg-cover 2xl:bg-contain bg-top bg-no-repeat">
    <nav id="main-nav" class="container px-4 mx-auto flex justify-between items-center py-6"><a class="text-3xl font-semibold leading-none" href="{{ root_path }}/index.html">
            <img class="logo-white" src="{{ assets_path }}/images/apisearch-long-logo.png" alt="Apisearch" width="200">
        </a>
        <a class="inline-block px-4 py-3 text-xs font-semibold leading-none text-white hover:text-indigo-500 hover:bg-white border-2 border-white rounded" href="{{ config.demo_form_url }}" target="_blank">{{ t.menu.ask_a_demo }}</a>
    </nav>
</section>
