.o-section
  padding-top: 3rem
  padding-bottom: 4rem

  &--padding-top-bottom
    padding-top: 7rem
    padding-bottom: 7rem

  &--inverted
    background: #edfffe

  &--topShadow
    box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.13)