{% extends "layout.twig" %}

{% block content %}

    <section class="bg-cover 2xl:bg-contain bg-top bg-no-repeat bg-as-primary-color">
        <div class="container px-4 mx-auto">

            <div id="top-header" class="pt-12 text-center">
                <div id="demo" class="max-w-lg md:max-w-2xl xl:max-w-4xl mx-auto mb-8 as-secondary-color text-center" style="display: flex; flex-direction: column; align-items: center">
                    <h1 class="text-3xl sm:text-4xl md:text-5xl xl:text-6xl font-300">Integración con Google Merchant</h1>
                    <h2 class="text-xl sm:text-2xl md:text:3xl leading-relaxed as-secondary-color font-thin" style="max-width: 800px;">Vende hasta un 30% más y descubre nuevas oportunidades de venta con nuestra integración con tus feeds de Google Merchant</h2>
                </div>
                <div>
                    <a class="to-cloud block sm:inline-block py-4 px-8 mb-4 sm:mb-0 sm:mr-3 text-lg text-white text-center font-semibold leading-none as-button-secondary-color rounded" href="{{ config.demo_form_url }}" target="_blank">{{ t.menu.ask_a_demo }}</a>
                </div>
            </div>
        </div>

        {% include "blocks/banner_devices.html.twig" with { shop: "corbetos" } %}
    </section>

    {% include "blocks/features.twig" %}
    {% include "blocks/google_shopping/start-now.twig" %}
    {% include "blocks/contact.html.twig" %}
    {% include "blocks/prices.twig" %}
    {% include "blocks/google_shopping/faqs.twig" %}

{% endblock content %}

