{% extends "layout.twig" %}

{% block content %}

    <section class="bg-cover 2xl:bg-contain bg-top bg-no-repeat bg-as-primary-color">
        <div class="container px-4 mx-auto">

            <div id="top-header" class="pt-12 text-center">
                <div id="demo" class="max-w-lg md:max-w-2xl xl:max-w-4xl mx-auto mb-8 as-secondary-color text-center" style="display: flex; flex-direction: column; align-items: center">
                    <h1 class="text-3xl sm:text-4xl md:text-5xl xl:text-6xl font-300">{{ t.header.title }}</h1>
                    <h2 class="text-xl sm:text-2xl md:text:3xl leading-relaxed as-secondary-color font-thin" style="max-width: 800px;">{{ t.header.subtitle }}</h2>
                </div>

                {% include "blocks/contact_top.html.twig" %}
            </div>
        </div>

        {% include "blocks/banner_devices.html.twig" with { shop: "corbetos" } %}
    </section>

    {% include "blocks/features.twig" %}
    {% include "blocks/google_shopping/start-now.twig" %}
    {% include "blocks/contact.html.twig" %}
    {% include "blocks/prices.twig" %}
    {% include "blocks/faqs.twig" %}

{% endblock content %}

