<!DOCTYPE html>
<html lang="en">
{% block head %}
    <head>
        {% include "blocks/meta.twig" %}
        {% include "blocks/css.twig" %}
        {% include "blocks/js.twig" %}
    </head>
{% endblock head %}

{% block body %}
    <body class="antialiased bg-body text-body">
        {% include "blocks/nav.twig" %}
        {% block content %}{% endblock content %}
        {% include "blocks/footer.twig" %}
        {% block js_widgets %}{% endblock js_widgets %}
    </body>
{% endblock body %}
</html>
