{% extends "layout.twig" %}


{% block content %}
    <section class="py-20 xl:bg-contain bg-top bg-no-repeat content">
        <div class="container px-4 mx-auto">
            <div class="text-center mb-16">
                <h2 class="max-w-xl mx-auto mb-4 text-4xl font-bold">
                    {{ t.title|raw }}
                </h2>
            </div>

            {{ t.content|raw }}
        </div>
    </section>
{% endblock %}
