:root {
  font-family: Sora, sans-serif;
  font-size: 15px;
  --black: #222222;
  --almost-black: #444444;
  --gray: #777777;
  --light-black: #555555;
  --almost-white: #f5f5f5;
  --green: rgb(22 163 74); }

#container {
  width: 100%;
  display: flex;
  flex-direction: row; }

.fa-background {
  padding: 8px;
  border-radius: 3px; }

.pink {
  color: #6d28d9 !important; }
  .pink .fa-background {
    background-color: rgba(109, 40, 217, 0.1) !important; }

.tag-pink {
  color: #6d28d9;
  background-color: rgba(109, 40, 217, 0.1); }

.magenta {
  color: #9b2791 !important; }
  .magenta .fa-background {
    background-color: rgba(155, 39, 145, 0.1) !important; }

.tag-magenta {
  color: #9b2791;
  background-color: rgba(155, 39, 145, 0.1); }

.brown {
  color: #c2410c !important; }
  .brown .fa-background {
    background-color: rgba(194, 65, 12, 0.1) !important; }

.tag-brown {
  color: #c2410c;
  background-color: rgba(194, 65, 12, 0.1); }

.blue {
  color: #3b82f6 !important; }
  .blue .fa-background {
    background-color: rgba(59, 130, 246, 0.1) !important; }

.tag-blue {
  color: #3b82f6;
  background-color: rgba(59, 130, 246, 0.1); }

.yellow {
  color: #eab308 !important; }
  .yellow .fa-background {
    background-color: rgba(234, 179, 8, 0.1) !important; }

.tag-yellow {
  color: #eab308;
  background-color: rgba(234, 179, 8, 0.1); }

.green {
  color: #22c55e !important; }
  .green .fa-background {
    background-color: rgba(34, 197, 94, 0.1) !important; }

.tag-green {
  color: #22c55e;
  background-color: rgba(34, 197, 94, 0.1); }

.red {
  color: #ef4444 !important; }
  .red .fa-background {
    background-color: rgba(239, 68, 68, 0.1) !important; }

.tag-red {
  color: #ef4444;
  background-color: rgba(239, 68, 68, 0.1); }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.disc {
    list-style-type: disc;
    margin-left: 20px; }

.mt {
  margin-top: 3rem; }

.mb {
  margin-bottom: 3rem; }

strong {
  margin-right: .5rem; }

.tag {
  padding: 3px 5px;
  font-size: .8rem;
  border-radius: 3px;
  display: inline-block; }

.tag-pink {
  color: #6d28d9;
  background-color: rgba(109, 40, 217, 0.1); }

.line-separator {
  border-top: solid 1px #DADADAFF;
  height: 1px;
  margin: 50px 0;
  padding: 0 30px; }

#lateral {
  padding: 20px;
  width: 15%; }
  @media only screen and (min-width: 1051px) and (max-width: 1600px) {
    #lateral {
      /* 540px */
      width: 25%; } }
  @media only screen and (max-width: 1050px) {
    #lateral {
      /* 540px */
      display: none; } }
  #lateral ul li {
    margin-bottom: 15px;
    font-size: .9rem;
    font-weight: 300;
    color: #404040; }
    #lateral ul li.top {
      font-size: 1.1rem;
      font-weight: 500;
      margin-bottom: 20px; }
    #lateral ul li.child {
      margin-left: 30px; }
    #lateral ul li.active a {
      color: var(--black) !important;
      font-weight: 500; }
    #lateral ul li .fa {
      font-size: .8rem;
      margin-right: 10px; }
    #lateral ul li a {
      text-decoration: none;
      color: var(--almost-black); }

#content {
  width: 85%;
  margin: 50px 0;
  padding: 20px; }
  @media only screen and (min-width: 1051px) and (max-width: 1600px) {
    #content {
      /* 540px */
      width: 75%;
      margin: 20px 0; } }
  @media only screen and (max-width: 1050px) {
    #content {
      /* 540px */
      width: calc(100% - 40px); } }
  #content .grid {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
    column-gap: 20px;
    row-gap: 20px; }

.card {
  border-radius: 7px;
  border: 1px solid #e5e5e5;
  overflow: hidden; }
  .card .card-header {
    color: var(--almost-black);
    background-color: #f9f9f9;
    padding: 20px; }
    .card .card-header a {
      color: var(--almost-black);
      text-decoration: none; }
    .card .card-header i {
      margin-right: 10px;
      font-size: .9rem; }
  .card .card-body {
    padding: 20px; }
    .card .card-body ul li a {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      align-items: center;
      margin-bottom: 10px; }
    .card .card-body ul span:nth-child(1) {
      width: 40px;
      font-size: .8rem;
      color: var(--gray);
      font-weight: 300; }
    .card .card-body ul span:nth-child(2) {
      flex: 1;
      color: var(--almost-black);
      font-weight: 300; }
    .card .card-body ul i {
      width: 40px;
      color: var(--green); }

#fullsize {
  max-width: 1500px;
  margin: 0 auto; }

#page, #page-group, #index {
  max-width: 900px;
  margin: 0 auto; }
  #page .family, #page-group .family, #index .family {
    color: var(--almost-black); }
    #page .family .fa, #page-group .family .fa, #index .family .fa {
      font-size: .8rem;
      margin-right: 10px; }
  #page .separator, #page-group .separator, #index .separator {
    height: 30px; }

#page h1 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--almost-black);
  margin-bottom: 20px; }
#page h2 {
  font-size: 1rem;
  font-weight: 300;
  color: var(--gray); }
#page #page-content {
  font-weight: 400;
  padding-top: 30px; }
  #page #page-content h3 {
    font-size: 1.2rem;
    color: var(--almost-black); }
  #page #page-content p, #page #page-content li {
    color: var(--light-black);
    line-height: 1.6rem; }
  #page #page-content li {
    margin: 20px 0; }

#page-group ol {
  list-style-type: none;
  padding: 0;
  margin-top: 20px; }
  #page-group ol li {
    margin-bottom: 20px;
    display: flex;
    align-items: center; }
    #page-group ol li a {
      color: var(--black);
      text-decoration: none;
      display: flex;
      align-items: center; }
      #page-group ol li a > div:nth-child(1) {
        width: 30px;
        font-size: .8rem;
        color: var(--gray); }
      #page-group ol li a > div:nth-child(2) {
        flex: 1;
        display: flex;
        flex-direction: column; }
        #page-group ol li a > div:nth-child(2) > div:nth-child(1) {
          font-size: 1.1rem; }
        #page-group ol li a > div:nth-child(2) > div:nth-child(2) {
          color: var(--gray); }

.feature-card {
  margin: 30px 0; }
  .feature-card .fa {
    margin-right: 10px; }
  .feature-card h4 {
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--black);
    margin-bottom: 20px; }
  .feature-card h5 {
    font-weight: 300;
    font-size: 1rem;
    color: var(--light-black); }
  .feature-card a {
    color: black; }
  .feature-card .feature-grid {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px; }
    .feature-card .feature-grid .feature {
      flex-grow: 1;
      width: calc((100% - 40px)/2); }
      .feature-card .feature-grid .feature .feature-header {
        color: var(--black);
        font-weight: 500;
        font-size: 1.1rem; }
      .feature-card .feature-grid .feature ul {
        list-style-type: disc;
        margin-left: 20px; }
        .feature-card .feature-grid .feature ul li {
          line-height: 1.2rem !important;
          font-weight: 300; }

.swot {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px; }
  .swot .swot-title {
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
  .swot > div {
    flex-grow: 1;
    width: calc((100% - 40px)/2); }

#chart-block {
  display: flex;
  padding: 30px;
  align-items: center;
  background-color: #fff7ed;
  border-radius: 5px;
  margin: 30px 0; }
  #chart-block canvas {
    width: 300px !important;
    height: 300px !important;
    padding: 20px; }
  #chart-block .canvas-legend {
    width: 70%;
    padding: 20px; }

.chart-pnl {
  height: 300px;
  margin: 30px 0; }

table.pnl {
  margin: 30px 0;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%; }
  table.pnl tbody {
    display: table;
    width: 100%; }
  table.pnl th, table.pnl td {
    border: 1px solid black;
    border-collapse: collapse; }
  table.pnl td, table.pnl th {
    padding: 10px; }
    table.pnl td.pos, table.pnl th.pos {
      background-color: #88e088; }
    table.pnl td.neg, table.pnl th.neg {
      background-color: #af7070; }

img.preview {
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 10px; }

/*# sourceMappingURL=bp.css.map */
