{% set tree = {
    "overview": {
        icon: "house",
        title: "Overview",
        color: "pink",
        link: "overview",
        children: [
        ["Mission & Vision", "Why we exist and our vision for the future", "mission-and-vision"],
        ["Success cases", "There are our major successes", "success-cases"],
        ["Viability Analysis", "A breakdown of the business success factors", "viability-analysis"],
        ["Business Models", "A list of potential business models", "business-models"],
        ["SWOT Analysis", "Strengths, Weaknesses, Opportunities, Threats", "swot-analysis"],
    ]
    },

    "product": {
        icon: "box",
        title: "Product and Services",
        color: "blue",
        link: "product-and-services",
        children: [
        ["Core Offerings", "Your core products and services", "core-offerings"],
        ["Secondary Offerings", "Additional products and services", "secondary-offerings"],
        ["Conversational search", "Conversational search layer", "conversational-search"],
        ["Customer Service", "How you will support your customers", "customer-service"]
    ]
    },

    "market": {
        icon: "chart-simple",
        title: "Market Research",
        color: "magenta",
        link: "market-research",
        children: [
        ["Industry Overview", "An overview of the industry", "industry-overview"],
        ["Target Audience", "Who you are selling to", "target-audience"],
        ["Market Size & Trends", "The size of the market and trends", "market-size-and-trends"],
        ["Competitor Analysis", "Who you are competing with", "competitor-analysis"],
    ]
    },

    "sales": {
        icon: "arrow-trend-up",
        title: "Sales & Marketing",
        link: "sales-and-marketing",
        color: "red",
        children: [
        ["Online Presence", "Website, social media, and more", "online-presence"],
        ["Marketing Ideas", "A list of ideas to market your business", "marketing-ideas"],
        ["Customer Retention", "A list of ideas to retain your customers", "customer-retention"],
    ]
    },

    "operations": {
        icon: "chart-bar",
        title: "Operations",
        link: "operations",
        color: "blue",
        children: [
        ['Operations Plan', "How you will run your business", 'operations-plan'],
        ['Team & Roles', "Who will be on your team and their roles", 'team-and-roles'],
        ['Risk Analysis', "Potential risks and how to mitigate them", 'risk-analysis'],
        ['Regulatory Compliance', "Licenses, permits, and more", 'regulatory-compliance']
    ]
    },

    "financials": {
        icon: "dollar-sign",
        title: "Financials",
        link: "financials",
        color: "yellow",
        children: [
        ['P&L', "Profits & Losses", 'profits-and-losses'],
        ['Costs Breakdown', "Salaries, rent, and more", 'costs-breakdown'],
        ['Financial Projections', "Revenue, expenses, and more", 'financial-projections'],
        ['Funding Plan', "How you will fund your business", 'funding-plan'],
    ]
    }
} %}

<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Apisearch Business Plan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link media="screen" rel="preconnect" href="https://fonts.googleapis.com">
    <link media="screen" rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link media="screen" href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/bp.css?hash={{ hash }}">
    <link rel="stylesheet" href="../../assets/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <body>
        <div id="container">
            <div id="lateral">
                {% include "bp/lateral.twig" %}
            </div>
            <div id="content">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </body>
</html>

