<section class="pt-24 pb-32 bg-gradient-gray2 overflow-hidden">
    <div class="container mx-auto px-4">
        <div class="text-center mb-16">
            <h3 class="text-5xl sm:text-6xl md:text-7xl font-100">
                ¿Tienes preguntas?
            </h3>
            <p class="max-w-xl mx-auto text-lg">Si tienes cualquier duda, siempre puedes contactar con nosotros, pero por aquí te dejamos algunas de nuestras preguntas más frecuentes</p>
        </div>
        <div class="flex flex-wrap -m-6 mb-24">
            <div class="w-full  md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h4 class="mb-4 text-2xl font-thin">¿Por qué debería cambiar a Apisearch?</h4>
                    <p class="as-black">
                        Apisearch trabaja con un nivel de calidad muy alto a precios muy competitivos. Te acompañaremos en todo el proceso de instalación, configuración y salida a producción para que el cambio sea simple y efectivo.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h4 class="mb-4 text-2xl font-thin">¿Tendré las mismas funcionalidades?</h4>
                    <p class="as-black">
                        Sí. Y algunas más. Apisearch se ha centrado mucho en el producto durante estos años. En Apisearch podrás hacer todo lo que necesitas hacer para que tu buscador sea funcional y útil para incrementar tus ventas.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h4 class="mb-4 text-2xl font-thin">¿Sóis más baratos que doofinder?</h4>
                    <p class="as-black">
                        A diferencia de Doofinder, Apisearch cobra solo por el uso dado a la plataforma. No tenemos paquetes ni cobramos por adelantado. Al fin del mes, casi siempre somos más económicos que Doofinder.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h4 class="mb-4 text-2xl font-thin">¿Qué pasa si no me convence?</h4>
                    <p class="as-black">
                        Absolutamente nada. En Apisearch no hay ningún tipo de permanencia. Si en algún momento crees que no somos suficientemente útiles para tu negocio, te ayudaremos a desinstalar el módulo.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h4 class="mb-4 text-2xl font-thin">¿En algún momento cortáis servicio?</h4>
                    <p class="as-black">
                        A diferencia de Doofinder, Apisearch no corta servicio en ningún caso. Tratamos de solucionar todos los conflictos mediante comunicación directa, pero nunca dejaremos a tu tienda online sin buscador si te olvidas de pagar.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h4 class="mb-4 text-2xl font-thin">¿Es simple el cambio?</h4>
                    <p class="as-black">
                        Prácticamente nunca tardamos más de 1 hora en hacer el cambio. Si no te atreves a hacerlo tu mismo, nosotros te configuramos la capa visual y te ayudamos en toda la instalación.
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 p-6">
                <div class="md:max-w-xl">
                    <h4 class="mb-4 text-2xl font-thin">¿Cobráis por hacer el cambio?</h4>
                    <p class="as-black">
                        En ningún caso. Creemos que en Apisearch podréis tener un mejor servicio, por lo que nuestro equipo estará muy contento de ayudaros.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
