<section id="features" class="relative pb-32 overflow-hidden pt-32">
    <div class="container mx-auto px-4 mb-12">
        <h3 class="mb-6 max-w-xl mx-auto font-heading font-thin text-center text-5xl sm:text-6xl md:text-7xl text-gray-900">Apisearch Vs Doofinder</h3>
        <p class="mb-16 max-w-lg mx-auto text-center text-gray-600 text-lg">Descubre las ventajas de pasar de Doofinder a Apisearch y de como puedes mejorar tu buscador en menos tiempo de lo que crees</p>
        <div class="flex flex-wrap -m-8">

            <div class="w-full md:w-1/3 p-16">
                <div class="group">
                    <h4 class="mb-4 font-heading font-bold text-gray-900 text-2xl">Motor de búsqueda</h4>
                    <p class="mb-5 text-gray-600 text-base"><i class="fa fa-exclamation-circle fa-fw text-red-600"></i> Doofinder - La búsqueda requiere de configuración y campañass para que sea tenga sentido</p>
                    <p class="mb-5 text-gray-600 text-base"><i class="fa fa-check-circle fa-fw text-green-600"></i> Apisearch - Hemos desarrollado una forma de buscar que permite que, sin hacer nada, funcione perfectamente</p>
                </div>
            </div>

            <div class="w-full md:w-1/3 p-16">
                <div class="group">
                    <h4 class="mb-4 font-heading font-bold text-gray-900 text-2xl">Paga solo por uso</h4>
                    <p class="mb-5 text-gray-600 text-base"><i class="fa fa-exclamation-circle fa-fw text-red-600"></i> Doofinder - Paquetes de prepago. Si no pagas, te cortan el servicio</p>
                    <p class="mb-5 text-gray-600 text-base"><i class="fa fa-check-circle fa-fw text-green-600"></i> Apisearch - Paga a final de mes <strong>solo</strong> por lo que has consumido. Nunca cortamos servicio</p>
                </div>

            </div>
            <div class="w-full md:w-1/3 p-16">
                <div class="group">
                    <h4 class="mb-4 font-heading font-bold text-gray-900 text-2xl">Resultados desde la primera letra</h4>
                    <p class="mb-5 text-gray-600 text-base"><i class="fa fa-exclamation-circle fa-fw text-red-600"></i> Doofinder - Precios elevados fuerzan a mostrar resultados desde la tercera letra</p>
                    <p class="mb-5 text-gray-600 text-base"><i class="fa fa-check-circle fa-fw text-green-600"></i> Apisearch - Nuestros buenos precios nos permiten ofrecer siempre resultados desde que se abre el buscador</p>
                </div>
            </div>

            <div class="w-full md:w-1/3 p-16">
                <div class="group">
                    <h4 class="mb-4 font-heading font-bold text-gray-900 text-2xl">Vista para móvil incluida</h4>
                    <p class="mb-5 text-gray-600 text-base"><i class="fa fa-exclamation-circle fa-fw text-red-600"></i> Doofinder - Coste extra para que en móvil sea vea correctamente</p>
                    <p class="mb-5 text-gray-600 text-base"><i class="fa fa-check-circle fa-fw text-green-600"></i> Apisearch - Nuestro buscador se ve perfecto en todos los dispositivos sin ningún coste extra</p>
                </div>
            </div>

            <div class="w-full md:w-1/3 p-16">
                <div class="group">
                    <h4 class="mb-4 font-heading font-bold text-gray-900 text-2xl">Todas las funcionalidades</h4>
                    <p class="mb-5 text-gray-600 text-base"><i class="fa fa-exclamation-circle fa-fw text-red-600"></i> Doofinder - Muchas funcionalidades se pagan aparte</p>
                    <p class="mb-5 text-gray-600 text-base"><i class="fa fa-check-circle fa-fw text-green-600"></i> Apisearch - Todas las funcionalidades están incluidas en el precio</p>
                </div>
            </div>

            <div class="w-full md:w-1/3 p-16">
                <div class="group">
                    <h4 class="mb-4 font-heading font-bold text-gray-900 text-2xl">Resolución de dudas</h4>
                    <p class="mb-5 text-gray-600 text-base"><i class="fa fa-exclamation-circle fa-fw text-red-600"></i> Doofinder - La comunicación con ellos puede ser larga y, a veces, insuficiente</p>
                    <p class="mb-5 text-gray-600 text-base"><i class="fa fa-check-circle fa-fw text-green-600"></i> Apisearch - Comunícate con nosotros en tiempo real y solucionemos los problemas en el mismo día</p>
                </div>
            </div>
        </div>
    </div>
</section>
